<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test_Appium" parallel="true" Configfailurepolicy="skip" >
<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter" />
<listener class-name="com.elong.air.appium.base.BaseScreenShortListener" />
 <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
</listeners>
    
<test name="H5">
  <classes>
   <!--  <class name="Appium.elongTest.H5Test"/>  --> 
      <class name="Appium.elongTest.AppTest"/>
  </classes>
</test> 

<!--  <test name="ROUND">
  <classes>
      <class name="com.elong.air.tests.TestCreateOrder_RoundTrip"/>
  </classes>
</test> -->
</suite> 
<!-- 指定测试方法 
<methods>
    <include>createSingleOrder</include>
    <exclude>tttt</exclude>
</methods>
-->
